@media (max-width: 992px) {
    .section-with-text {
        padding: 153px 25px;
    }

    .section-with-text p,
    .section-with-text .onde-estamos p {
        width: 100%;
    }


}



@media (max-width: 768px) {

    
}
@media (max-width: 720px) {
    .ladrilho .grande, 
    .ladrilho .medio {
        width:100% ;
    }

    .ladrilho .pequeno,
    .ladrilho .pequeno1 {
        width: 50%;
    }
    @media (max-width: 375px) {
        .ladrilho .pequeno,
        .ladrilho .pequeno1 {
            width: 100%;
        }

    }

}

@media (max-width: 525px) {
    .cabecalho .logo {
        display: block;
        margin: 0 auto;

    }

    .cabecalho nav {
        position: static;
        text-align: center;
        width: 100%;
    }

    .cabecalho nav ul li {
        display: block;

    }

    .cabecalho ul li a {
        display: block;
        width: 100%;
    }

    .panel h2 {
        font-size: 2.6rem;
    }

    .section-with-text h2 {
        font-size: 3rem;
        width: 100%;
    }

    .section-with-text p,
    .section-with-text .onde-estamos p {
        width: 100%;
        font-size: 2rem;
    }


}

/*** Tempo de animação texto do banner princiapal ***/

@keyframes digitar {
    from {
        width: 0;
    }

    to {
        width: 105%;
    }

    /*** Fim Tempo de animação texto do banner princiapal ***/